.create-container {
  padding: 2rem;
}

.create-heading {
  color: white;
  padding: 1rem 0;
}

.input-description {
  height: 300px;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background: #38f2af;
  font-size: 18px;
  font-weight: 500;
  font-family: "Allerta Stencil", sans-serif;
  border-radius: 8px;
  outline: none;
}

.input {
  background-color: transparent;
  border: 1px solid #38f2af;
  outline: none;
  color: white;
  font-family: "Allerta Stencil", sans-serif;
  margin: 1rem 0;
  width: calc(100% - 2rem);
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
}
textarea {
  background-color: transparent;
  border: 1px solid #38f2af;
  outline: none;
  height: 200px;
  color: white;
  font-family: "Allerta Stencil", sans-serif;
  margin: 1rem 0;
  width: calc(100% - 2rem);
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
}

input::placeholder {
  font-size: 18px;
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 500;
  font-family: Oswald;
}
